/* App.css */

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
}

.main-content-left {
  flex: 2;
  overflow-y: auto; /* Add overflow-y to handle vertical overflow */
}

.main-content-right {
  flex: 1;
  overflow-y: auto; /* Add overflow-y to handle vertical overflow */
}

/* Add any additional styling for your components here */
